
<div class="__pf_password">
    <a href="#" class="__pf_password-btn">{{ 'pagefly.password_page.password_link' | t }}</a>

    <div class="__pf_password-form">
        {% form "storefront_password" %}
        {{ form.errors | default_errors }}
        <p>{{ 'pagefly.password_page.login_form_message' | t }}</p>
        <div>
            <input type="password" name="password" placeholder="{{ 'pagefly.password_page.login_form_password_placeholder' | t }}">
            <input type="submit" value="{{ 'pagefly.password_page.login_form_submit' | t }}">
        </div>
        {% endform %}

        <span class="__pf_password-form--close"></span>
    </div>

    <style>
        .__pf_password-btn {
            position: fixed;
            right: 10px;
            top: 10px;
            padding: 10px 20px;
            background: #000;
            border: 1px solid #333;
            text-transform: uppercase;
            font-size: 10px;
            letter-spacing: 2px;
            font-weight: bold;
            z-index: 100;
            color: #fff;
        }
        .__pf_password-btn:hover {
            color: #fff !important;
            text-decoration: none !important;
            background: #222;
        }
        .__pf_password-form {
            display: none;
            justify-content: center;
            align-items: center;
            position: fixed;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, .8);
            z-index: 10;
            top: 0;
        }
        .__pf_password-form form {
            max-width: 100%;
            background: #fff;
            padding: 30px 20px;
            border-radius: 2px;
            width: 480px;
            text-align: center;
        }
        .__pf_password-form form > div {
            position: relative;
        }
        .__pf_password-form form p {
            color: #000;
            font-size: 18px;
            margin: 0 0 20px;
        }
        .__pf_password-form form label {
            margin-bottom: 10px;
        }
        .__pf_password-form input[type="password"] {
            border: 1px solid #bfbfbf;
            outline: 0;
            border-radius: 2px;
            height: 50px;
            padding: 0 20px;
            line-height: 50px;
            width: 100%;
        }
        .__pf_password-form input[type="submit"] {
            position: absolute;
            height: 42px;
            min-height: initial;
            line-height: 1;
            padding: 0 20px;
            background: #000;
            color: #fff;
            top: 4px;
            right: 4px;
            border-radius: 2px;
            -webkit-appearance: none;
            outline: 0;
            border: 0;
            width: fit-content;
        }
        .__pf_password-form input[type="submit"]:hover {
            opacity: .8;
        }
        .__pf_password-form--close {
            width: 50px;
            height: 50px;
            cursor: pointer;
            display: block;
            position: absolute;
            right: 20px;
            top: 20px;
        }
        .__pf_password-form--close:before,
        .__pf_password-form--close:after {
            content: "";
            width: 30px;
            height: 1px;
            background: #fff;
            position: absolute;
            top: 24px;
            left: 11px;
        }
        .__pf_password-form--close:before {
            transform: rotate(45deg);
        }
        .__pf_password-form--close:after {
            transform: rotate(-45deg);
        }
    </style>

    <script>
        window.addEventListener("load", function() {
            document.querySelector(".__pf_password-btn").addEventListener("click", function() {
                document.querySelector(".__pf_password-btn").style.display = "none";
                document.querySelector(".__pf_password-form").style.display = "flex";
            });
            document.querySelector(".__pf_password-form--close").addEventListener("click", function() {
                document.querySelector(".__pf_password-form").style.display = "none";
                document.querySelector(".__pf_password-btn").style.display = "initial";
            });
            if ( document.querySelectorAll(".errors").length ) {
                document.querySelector(".__pf_password-btn").click();
            }
        });
    </script>
</div>{% render 'pagefly-settings' %} <link rel="stylesheet" href="{{ 'pagefly.c7c2f8ff.css' | asset_url }}">
		  <div style="opacity:0" class="sc-faUpoM cFOwMS __pf __pf_364opdO7" id="__pf"><div data-pf-type="Body" class="sc-ksHpcM hkPZIR pf-1_"><div data-pf-type="Layout" class="sc-cVAmsi cFAsxI pf-2_"><div data-section-id="pf-a23d" data-pf-type="Section" class="sc-igXgud lhtyiH pf-3_ pf-bg-lazy"><div class="sc-cjrPHo eOcrMz"><div class="sc-clIzBv iQyrr pf-4_ pf-r pf-r-eh pf-hide" style="--s-xs:15px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-md:12;--c-lg:12"><div data-pf-type="Column" class="sc-gXRojI kCnmwO pf-5_"></div></div></div><div class="sc-clIzBv iQyrr pf-6_ pf-r pf-r-eh pf-hide" style="--s-xs:15px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-sm:6;--c-md:6;--c-lg:6"><div data-pf-type="Column" class="sc-gXRojI kCnmwO pf-7_"></div></div><div class="pf-c" style="--c-xs:12;--c-sm:6;--c-md:6;--c-lg:6"><div data-pf-type="Column" class="sc-gXRojI kCnmwO pf-8_"></div></div></div><div class="sc-clIzBv iQyrr pf-9_ pf-r pf-r-eh pf-hide" style="--s-xs:15px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-md:12;--c-lg:12"><div data-pf-type="Column" class="sc-gXRojI kCnmwO pf-10_"></div></div></div><div class="sc-clIzBv iQyrr pf-11_ pf-r pf-r-eh pf-hide" style="--s-xs:15px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-md:12;--c-lg:12"><div data-pf-type="Column" class="sc-gXRojI kCnmwO pf-12_"></div></div></div><div class="sc-clIzBv iQyrr pf-13_ pf-r pf-r-eh pf-hide" style="--s-xs:15px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-md:12;--c-lg:12"><div data-pf-type="Column" class="sc-gXRojI kCnmwO pf-14_"></div></div></div><div class="sc-clIzBv iQyrr pf-15_ pf-r pf-r-eh pf-hide" style="--s-xs:15px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-md:12;--c-lg:12"><div data-pf-type="Column" class="sc-gXRojI kCnmwO pf-16_"></div></div></div><div class="sc-clIzBv iQyrr pf-17_ pf-r pf-c-cm pf-r-eh pf-hide" style="--s-xs:15px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-md:12;--c-lg:12"><div data-pf-type="Column" class="sc-gXRojI kCnmwO pf-18_"></div></div></div><div class="sc-clIzBv iQyrr pf-19_ pf-r pf-r-eh pf-hide" style="--s-xs:15px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-md:12;--c-lg:12"><div data-pf-type="Column" class="sc-gXRojI kCnmwO pf-20_"></div></div></div><div class="sc-clIzBv iQyrr pf-21_ pf-r pf-c-cm pf-r-eh pf-hide" style="--s-xs:15px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-md:12;--c-lg:12"><div data-pf-type="Column" class="sc-gXRojI kCnmwO pf-22_"></div></div></div><div class="sc-clIzBv iQyrr pf-23_ pf-r pf-r-eh pf-hide" style="--s-xs:15px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-md:12;--c-lg:12"><div data-pf-type="Column" class="sc-gXRojI kCnmwO pf-24_"></div></div></div><div class="sc-clIzBv iQyrr pf-25_ pf-r pf-r-eh pf-hide" style="--s-xs:15px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-md:12;--c-lg:12"><div data-pf-type="Column" class="sc-gXRojI kCnmwO pf-26_"></div></div></div><div class="sc-clIzBv iQyrr pf-27_ pf-r pf-r-eh pf-hide" style="--s-xs:15px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-md:12;--c-lg:12"><div data-pf-type="Column" class="sc-gXRojI kCnmwO pf-28_"></div></div></div><div class="sc-clIzBv iQyrr pf-29_ pf-r pf-r-eh pf-hide" style="--s-xs:15px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-md:12;--c-lg:12"><div data-pf-type="Column" class="sc-gXRojI kCnmwO pf-30_"></div></div></div><div class="sc-clIzBv iQyrr pf-31_ pf-bg-lazy pf-r pf-r-eh pf-hide" style="--s-xs:15px" data-pf-type="Row"></div><div class="sc-clIzBv iQyrr pf-32_ pf-r pf-r-eh pf-hide" style="--s-xs:15px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-md:12;--c-lg:12"><div data-pf-type="Column" class="sc-gXRojI kCnmwO pf-33_"></div></div></div><div class="sc-clIzBv iQyrr pf-34_ pf-r pf-r-eh pf-hide" style="--s-xs:15px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-md:12;--c-lg:12"><div data-pf-type="Column" class="sc-gXRojI kCnmwO pf-35_"></div></div></div><div class="sc-clIzBv iQyrr pf-36_ pf-r pf-r-eh pf-hide" style="--s-xs:15px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-md:12;--c-lg:12"><div data-pf-type="Column" class="sc-gXRojI kCnmwO pf-37_"></div></div></div><div class="sc-clIzBv iQyrr pf-38_ pf-r pf-r-eh pf-hide" style="--s-xs:15px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-md:12;--c-lg:12"><div data-pf-type="Column" class="sc-gXRojI kCnmwO pf-39_"></div></div></div><div class="sc-clIzBv iQyrr pf-40_ pf-r pf-r-eh" style="--s-xs:15px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-md:12;--c-lg:12"><div data-pf-type="Column" class="sc-gXRojI kCnmwO pf-41_"></div></div></div><div class="sc-clIzBv iQyrr pf-42_ pf-r pf-r-eh" style="--s-xs:15px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-md:12;--c-lg:12"><div data-pf-type="Column" class="sc-gXRojI kCnmwO pf-43_"></div></div></div><div class="sc-clIzBv iQyrr pf-44_ pf-r pf-r-eh" style="--s-xs:15px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-md:12;--c-lg:12"><div data-pf-type="Column" class="sc-gXRojI kCnmwO pf-45_"></div></div></div><div class="sc-clIzBv iQyrr pf-46_ pf-r pf-r-eh" style="--s-xs:15px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-md:12;--c-lg:12"><div data-pf-type="Column" class="sc-gXRojI kCnmwO pf-47_"></div></div></div><div class="sc-clIzBv iQyrr pf-48_ pf-r pf-r-eh" style="--s-xs:15px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-md:12;--c-lg:12"><div data-pf-type="Column" class="sc-gXRojI kCnmwO pf-49_"></div></div></div><div class="sc-clIzBv iQyrr pf-50_ pf-r pf-r-eh" style="--s-xs:15px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-md:12;--c-lg:12"><div data-pf-type="Column" class="sc-gXRojI kCnmwO pf-51_"></div></div></div><div class="sc-clIzBv iQyrr pf-52_ pf-r pf-r-eh" style="--s-xs:15px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-md:12;--c-lg:12"><div data-pf-type="Column" class="sc-gXRojI kCnmwO pf-53_"></div></div></div><div class="sc-clIzBv iQyrr pf-54_ pf-r pf-r-eh" style="--s-xs:15px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-md:12;--c-lg:12"><div data-pf-type="Column" class="sc-gXRojI kCnmwO pf-55_"></div></div></div><div class="sc-clIzBv iQyrr pf-56_ pf-r pf-r-eh" style="--s-xs:15px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-md:12;--c-lg:12"><div data-pf-type="Column" class="sc-gXRojI kCnmwO pf-57_"></div></div></div><div class="sc-clIzBv iQyrr pf-58_ pf-r pf-r-eh" style="--s-xs:15px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-md:12;--c-lg:12"><div data-pf-type="Column" class="sc-gXRojI kCnmwO pf-59_"></div></div></div><div class="sc-clIzBv iQyrr pf-60_ pf-r pf-r-eh" style="--s-xs:15px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-md:12;--c-lg:12"><div data-pf-type="Column" class="sc-gXRojI kCnmwO pf-61_"></div></div></div><div class="sc-clIzBv iQyrr pf-62_ pf-r pf-r-eh" style="--s-xs:15px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-md:12;--c-lg:12"><div data-pf-type="Column" class="sc-gXRojI kCnmwO pf-63_"></div></div></div><div class="sc-clIzBv iQyrr pf-64_ pf-r pf-r-eh" style="--s-xs:15px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-md:12;--c-lg:12"><div data-pf-type="Column" class="sc-gXRojI kCnmwO pf-65_"></div></div></div><div class="sc-clIzBv iQyrr pf-66_ pf-r pf-r-eh" style="--s-xs:15px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-md:12;--c-lg:12"><div data-pf-type="Column" class="sc-gXRojI kCnmwO pf-67_"></div></div></div><div class="sc-clIzBv iQyrr pf-68_ pf-r pf-r-eh" style="--s-xs:15px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-md:12;--c-lg:12"><div data-pf-type="Column" class="sc-gXRojI kCnmwO pf-69_"></div></div></div><div class="sc-clIzBv iQyrr pf-70_ pf-r pf-r-eh" style="--s-xs:15px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-md:12;--c-lg:12"><div data-pf-type="Column" class="sc-gXRojI kCnmwO pf-71_"></div></div></div><div class="sc-clIzBv iQyrr pf-72_ pf-r pf-r-eh" style="--s-xs:15px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-md:12;--c-lg:12"><div data-pf-type="Column" class="sc-gXRojI kCnmwO pf-73_"></div></div></div><div class="sc-clIzBv iQyrr pf-74_ pf-r pf-r-eh" style="--s-xs:15px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-md:12;--c-lg:12"><div data-pf-type="Column" class="sc-gXRojI kCnmwO pf-75_"></div></div></div><div class="sc-clIzBv iQyrr pf-76_ pf-r pf-r-eh" style="--s-xs:15px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-md:12;--c-lg:12"><div data-pf-type="Column" class="sc-gXRojI kCnmwO pf-77_"></div></div></div><div class="sc-clIzBv iQyrr pf-78_ pf-r pf-r-eh" style="--s-xs:15px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-md:12;--c-lg:12"><div data-pf-type="Column" class="sc-gXRojI kCnmwO pf-79_"></div></div></div><div class="sc-clIzBv iQyrr pf-80_ pf-r pf-r-eh" style="--s-xs:15px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-md:12;--c-lg:12"><div data-pf-type="Column" class="sc-gXRojI kCnmwO pf-81_"></div></div></div><div class="sc-clIzBv iQyrr pf-82_ pf-r pf-r-eh" style="--s-xs:15px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-md:12;--c-lg:12"><div data-pf-type="Column" class="sc-gXRojI kCnmwO pf-83_"></div></div></div><div class="sc-clIzBv iQyrr pf-84_ pf-r pf-r-eh" style="--s-xs:15px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-md:12;--c-lg:12"><div data-pf-type="Column" class="sc-gXRojI kCnmwO pf-85_"></div></div></div><div class="sc-clIzBv iQyrr pf-86_ pf-r pf-r-eh pf-hide" style="--s-xs:15px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-md:12;--c-lg:12"><div data-pf-type="Column" class="sc-gXRojI kCnmwO pf-87_"></div></div></div><div class="sc-clIzBv iQyrr pf-88_ pf-r pf-r-eh" style="--s-xs:15px" data-pf-type="Row"><div class="pf-c pf-hide" style="--c-xs:12;--c-md:12;--c-lg:12"><div data-pf-type="Column" class="sc-gXRojI kCnmwO pf-89_ pf-hide"></div></div></div><div class="sc-clIzBv iQyrr pf-90_ pf-r pf-r-eh" style="--s-xs:15px" data-pf-type="Row"><div class="pf-c pf-hide" style="--c-xs:12;--c-md:12;--c-lg:12"><div data-pf-type="Column" class="sc-gXRojI kCnmwO pf-91_ pf-hide"></div></div></div><div class="sc-clIzBv iQyrr pf-92_ pf-r pf-r-eh pf-hide" style="--s-xs:15px" data-pf-type="Row"></div><div class="sc-clIzBv iQyrr pf-93_ pf-r pf-r-eh pf-hide" style="--s-xs:15px" data-pf-type="Row"></div><div class="sc-clIzBv iQyrr pf-94_ pf-r pf-r-eh pf-hide" style="--s-xs:15px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-md:12;--c-lg:12"><div data-pf-type="Column" class="sc-gXRojI kCnmwO pf-95_"></div></div></div><div class="sc-clIzBv iQyrr pf-96_ pf-r pf-r-eh pf-hide" style="--s-xs:15px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-md:12;--c-lg:12"><div data-pf-type="Column" class="sc-gXRojI kCnmwO pf-97_"></div></div></div><div class="sc-clIzBv iQyrr pf-98_ pf-r pf-r-eh pf-hide" style="--s-xs:15px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-md:12;--c-lg:12"><div data-pf-type="Column" class="sc-gXRojI kCnmwO pf-99_"></div></div></div><div class="sc-clIzBv iQyrr pf-100_ pf-r pf-r-eh" style="--s-xs:15px" data-pf-type="Row"><div class="pf-c pf-hide" style="--c-xs:12;--c-md:12;--c-lg:12"><div data-pf-type="Column" class="sc-gXRojI kCnmwO pf-101_ pf-hide"></div></div></div><div class="sc-clIzBv iQyrr pf-102_ pf-r pf-r-eh pf-hide" style="--s-xs:15px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-md:12;--c-lg:12"><div data-pf-type="Column" class="sc-gXRojI kCnmwO pf-103_"></div></div></div><div class="sc-clIzBv iQyrr pf-104_ pf-r pf-r-eh pf-hide" style="--s-xs:15px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-md:12;--c-lg:12"><div data-pf-type="Column" class="sc-gXRojI kCnmwO pf-105_"></div></div></div><div class="sc-clIzBv iQyrr pf-106_ pf-r pf-r-eh" style="--s-xs:15px" data-pf-type="Row"><div class="pf-c pf-hide" style="--c-xs:12;--c-md:12;--c-lg:12"><div data-pf-type="Column" class="sc-gXRojI kCnmwO pf-107_ pf-hide"></div></div></div><div class="sc-clIzBv iQyrr pf-108_ pf-r pf-r-eh pf-hide" style="--s-xs:15px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-md:12;--c-lg:12"><div data-pf-type="Column" class="sc-gXRojI kCnmwO pf-109_"></div></div></div><div class="sc-clIzBv iQyrr pf-110_ pf-r pf-r-eh pf-hide" style="--s-xs:15px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-md:12;--c-lg:12"><div data-pf-type="Column" class="sc-gXRojI kCnmwO pf-111_"></div></div></div><div class="sc-clIzBv iQyrr pf-112_ pf-r pf-r-eh" style="--s-xs:15px" data-pf-type="Row"><div class="pf-c pf-hide" style="--c-xs:12;--c-md:12;--c-lg:12"><div data-pf-type="Column" class="sc-gXRojI kCnmwO pf-113_ pf-hide"></div></div></div><div class="sc-clIzBv iQyrr pf-114_ pf-r pf-r-eh" style="--s-xs:15px" data-pf-type="Row"><div class="pf-c pf-hide" style="--c-xs:12;--c-md:12;--c-lg:12"><div data-pf-type="Column" class="sc-gXRojI kCnmwO pf-115_ pf-hide"></div></div></div><div class="sc-clIzBv iQyrr pf-116_ pf-r pf-r-eh" style="--s-xs:15px" data-pf-type="Row"><div class="pf-c pf-hide" style="--c-xs:12;--c-md:12;--c-lg:12"><div data-pf-type="Column" class="sc-gXRojI kCnmwO pf-117_ pf-hide"></div></div></div><div class="sc-clIzBv iQyrr pf-118_ pf-r pf-r-eh" style="--s-xs:15px" data-pf-type="Row"><div class="pf-c pf-hide" style="--c-xs:12;--c-md:12;--c-lg:12"><div data-pf-type="Column" class="sc-gXRojI kCnmwO pf-119_ pf-hide"></div></div></div><div class="sc-clIzBv iQyrr pf-120_ pf-r pf-r-eh pf-hide" style="--s-xs:15px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-md:12;--c-lg:12"><div data-pf-type="Column" class="sc-gXRojI kCnmwO pf-121_"></div></div></div><div class="sc-clIzBv iQyrr pf-122_ pf-r pf-r-eh" style="--s-xs:15px" data-pf-type="Row"><div class="pf-c pf-hide" style="--c-xs:12;--c-md:12;--c-lg:12"><div data-pf-type="Column" class="sc-gXRojI kCnmwO pf-123_ pf-hide"></div></div></div><div class="sc-clIzBv iQyrr pf-124_ pf-r pf-r-eh" style="--s-xs:15px" data-pf-type="Row"><div class="pf-c pf-hide" style="--c-xs:12;--c-md:12;--c-lg:12"><div data-pf-type="Column" class="sc-gXRojI kCnmwO pf-125_ pf-hide"></div></div></div><div class="sc-clIzBv iQyrr pf-126_ pf-r pf-r-eh" style="--s-xs:15px" data-pf-type="Row"><div class="pf-c pf-hide" style="--c-xs:12;--c-md:12;--c-lg:12"><div data-pf-type="Column" class="sc-gXRojI kCnmwO pf-127_ pf-hide"></div></div></div></div></div></div></div></div><script>
    !function(){window.__pagefly_setting__ && (window.__pagefly_setting2__ = window.__pagefly_setting__);window.__pagefly_setting__ = {"baseURL":"https://apps.pagefly.io","analyticsURL":"https://analytics.pagefly.io","isBackend":false,"cdnURL":"https://cdn.pagefly.io","pageflyVersion":"3.20.4","shopDomain":"nohugs.myshopify.com","elementData":{},"pageTitle":"ch ii","pageType":"password","pageId":"c7c2f8ff-9758-48f8-97b0-6b4101c16cec","lazyLoad":true,"forceByPassGoogleLightHouse":false,"imageLazyLoad":true,"nativeImageLazyLoad":true,"useThemeJQ":false,"selectedFonts":{"Playfair Display":{"400":0},"Lato":{"400":0},"Source Sans Pro":{"400":0}},"trackingIDs":[],"shopifyProxyPath":"/a/pf_preview"};window.__pagefly_setting2__&&(window.__pagefly_setting__=(function _(t,e){for(var n in e)"object"==typeof e[n]?t[n]=_(t[n]||{},e[n]):t[n]=e[n];return t})(__pagefly_setting2__,__pagefly_setting__),delete window.__pagefly_setting2__);window.__pagefly_setting__.moneyFormat={{shop.money_format|json}};}()
  </script><script src="https://cdn.pagefly.io/pagefly/3.20.4/core/helper.js" async></script>
{% schema %}
{
  "name": "PageFly Password Page",
  "settings": [
    {
      "type": "paragraph",
      "content": "For full configuration, [visit PageFly Editor](https://apps.pagefly.io/editor?id=c7c2f8ff-9758-48f8-97b0-6b4101c16cec)."
    }
  ]
}
{% endschema %}